<div class="project-header">
    <div class="project-title">
        更多项目
    </div>
    <div class="project-inner">
        <div class="more-project">
            <a href="#index/list/name_id:1">
            <img src="resource/images/minify/anjiebao.png">
            <div>
                <span>按揭宝</span>
                <span>知名上市房企按揭贷款债权转让</span>
                <span>按揭贷款银行或公积金承付</span>
                <span>3个月    10.5%</span>
            </div>
            </a>
        </div>
        <div class="more-project">
            <a href="#index/list/name_id:0">
            <img src="resource/images/minify/gongyinglian.png">
            <div>
                <span>供应链</span>
                <span>核心企业优质供应链资产</span>
                <span>到期收购，收益更高，期限更灵活</span>
                <span>8%~12%</span>
            </div>
            </a>
        </div>
        <div class="more-project">
            <a href="#crowdfunding/index">
            <img src="resource/images/minify/haichou.png">
            <div>
                <span>海筹</span>
                <span>品质生活，特权独享</span>
                <span>创意无限，梦想独家</span>
            </div>
            </a>
        </div>
    </div>
</div>