<div class="project-header">
    <div class="project-title">
        热门项目
    </div>
    <div class="project-inner">
        <div class="recommand-inner">
            <span class="name"><%=product_name%></span>
            <span class="rate"><%=borrow_interest_rate%>%</span>
            <span class="rate-label">约定年利率</span>
            <table class="recommand-table">
                <tbody>
                    <tr>
                        <td>
                            <span><%=borrow_duration%><%=repayment_type=='1'?'天':'月'%></span>
                            <span>融资期限</span>
                        </td>
                        <td>
                            <span><%=borrow_max%></span>
                            <span>项目总额</span>
                        </td>
                        <td>
                            <span><%=progress%>%</span>
                            <span>认购进度</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="recommand-button" href="#financial/index/id:<%=id%>">
                <span>立即投标</span>
            </a>
        </div>
    </div>
</div>